/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-image: url(calmVibes.avif);
}
img{
  display: block;
  margin: 3rem auto;
  max-width: 700ppx;
  max-height: 700px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
